// Get the font
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// Set the font
:root {
    --font-primary: 'Press Start 2P', monospace;
    --font-display: 'Press Start 2P', monospace;
}