// Default Google Font: Press Start 2P
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// Set Fallback font if no custom font is defined
:root {
    --custom-font: 'Press Start 2P', monospace;
    --font-primary: var(--custom-font);
    --font-display: var(--custom-font);
}