.chat_f75fb0 {
    .chatContent_f75fb0, .form_f75fb0 {
        // box-shadow: inset 0 0 0 1px var(--accent);
        border: 1px solid var(--accent);
        .form_f75fb0 {
            // adjust padding to align with border
            padding-inline: 0;
            margin-bottom: 0;
            .channelTextArea_f75fb0 {
                margin-bottom: 0;
                // border: 1px solid var(--accent);
                box-shadow: inset 0 0 0 1px var(--accent);
            }
        }
    }
}