.guilds__5e434 {
    background-color: var(--accent-dimmer);
    .unreadMentionsBar_ef3116 {
        background-color: var(--accent);
    }
}
.sidebarList__5e434 .container__2637a, .sidebarList__5e434 .privateChannels_e6b769, .sidebarList__5e434 .privateChannels_e6b769 .scroller__99e7c {
    background-color: var(--accent-dark)!important;

    .containerDefault_c69b6d {
        box-shadow: inset 0 0 0 1px var(--accent);
        background-color: var(--accent-slightly-darker);
        &:has(.selectedChannel_c69b6d) {
            background-color: var(--accent-dimmer);
        }
        &:hover {
            background-color: var(--accent-dimmest);
        }
        .link__2ea32 {
            background: none!important;
        }
        .unread__2ea32 {
            background-color: var(--accent);
        }
        .numberBadge__2b1f5 {
            background: var(--accent)!important;
        }
    }
}