// The file that all your CSS is located.
/*
      █████   █████  ███             █████                         ████     ███████████                         █████   █████  ████████   
     ░░███   ░░███  ░░░             ░░███                         ░░███    ░░███░░░░░███                       ░░███   ░░███  ███░░░░███  
      ░███    ░███  ████  ████████  ███████   █████ ████  ██████   ░███     ░███    ░███  ██████  █████ ████    ░███    ░███ ░░░    ░███  
      ░███    ░███ ░░███ ░░███░░███░░░███░   ░░███ ░███  ░░░░░███  ░███     ░██████████  ███░░███░░███ ░███     ░███    ░███    ███████   
      ░░███   ███   ░███  ░███ ░░░   ░███     ░███ ░███   ███████  ░███     ░███░░░░░███░███ ░███ ░███ ░███     ░░███   ███    ███░░░░    
       ░░░█████░    ░███  ░███       ░███ ███ ░███ ░███  ███░░███  ░███     ░███    ░███░███ ░███ ░███ ░███      ░░░█████░    ███      █  
         ░░███      █████ █████      ░░█████  ░░████████░░████████ █████    ███████████ ░░██████  ░░███████        ░░███     ░██████████  
          ░░░      ░░░░░ ░░░░░        ░░░░░    ░░░░░░░░  ░░░░░░░░ ░░░░░    ░░░░░░░░░░░   ░░░░░░    ░░░░░███         ░░░      ░░░░░░░░░░   
                                                                                                   ███ ░███                               
                                                                                                  ░░██████                                
                                                                                                   ░░░░░░                                 
*/

/* Root Variables */
:root {
	--accent: #ff0000; /* Change this to your desired accent color */
}